<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

  <!-- External CSS and JS Links -->
  <link href="/style/style.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>

  <script src="https://unpkg.com/wavesurfer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

  <script type="module">
  import { createNoise3D } from 'https://cdn.jsdelivr.net/npm/simplex-noise@4.0.1/+esm'
  window.createNoise3D = createNoise3D;
  import { createNoise2D } from 'https://cdn.jsdelivr.net/npm/simplex-noise@4.0.1/+esm'
    window.createNoise2D = createNoise2D;
  </script>
</head>
<body>
  <div id="three-container">
    <div id="welcome-message">Welcome <%= user.display_name %>, Loading Universe </div>
    <div id="display-box">

      <div class="header-content">

        <a href="/logout" class="logout-button">Logout</a>
      </div>

      <div id="display-content"></div>

      <div id="music-controls">
        <div id="current-song">No song playing</div>
        <button id="play-pause-btn">Play</button>
      </div>
      <div id="waveform"></div>
    </div>

    <canvas id="three-canvas" style="position: absolute; top: 0; left: 0; z-index: 0;"></canvas>
  </div>
  <script>const tracks = <%- JSON.stringify(tracks) %>;</script>
  <script type="module" src="/style/script.js"></script>
</body>
</html>
